<div class="row">

	<div class="span12 well">

		<h2>Chore Listings</h2>

		<table class="table">
           <thead>
           <tr>
           	<th>User</th>
             <th>Chore</th>
             <th>Created At</th>
              <th>Instructions</th>
             
                <th>Active</th>
                

           </tr>

           </thead>

           <tbody>

           	<tr>
           		<%@chore.each do |chore|%>
           		<td><%=chore.user.name%></td>
             <td><%=chore.name%></td>
                <td><%=time_ago_in_words(chore.created_at)%></td>
                   <td><%=chore.summary%></td>
                   
                         <%if chore.active%>
                         <td>Chore is not completed!</td>
                         <%else%>
                         <td>Chore is completed!</td>
                        
                         <%end%>

                          <td><%=link_to "Edit",edit_chore_path(chore)%>| |<%=link_to "Delete", chore_path(chore),
                                                                            method: :delete, data:{confirm: "Are you sure"}%></td>


             

           	</tr>
              <%end%>


           </tbody>
           <tfoot>
           <tr><%=link_to "+ Add New Chore", new_chore_path%></tr>
           </tfoot>
         



		</table>

	
	</div>


	
</div>